Chat {
	position: absolute;
	left: 50px;
	bottom: 300px;
	width: 550px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	flex-direction: column;
	align-items: stretch;
	font-size: 18px;
	font-family: Guneva;
	gap: 12px;





	.output {
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		gap: 5px;
		padding: 12px;
		overflow-y: scroll;





		.chat_entry {
			padding: 2px;
			gap: 10px;
			text-shadow: 2px 2px 2px #000a;
			align-items: center;
			background-color: rgba(96, 96, 96, 0.443);
			border-width: 1px;
			border-color: black;



			.avatar {
				width: 32px;
				height: 32px;
				background-position: center;
				background-size: cover;
				border-radius: 100px;

			}

			.author {
				color: #2d95ce;
				white-space: nowrap;
				flex-shrink: 0;
			}

			.message {
				color: #fff;
			}

		}
	}

	.input {
		color: white;

	}

	&.open {
		cursor: none;



		.input {

			background-color: rgba(0, 0, 0, 0.5);
			border-width: 1px;
			cursor: text;
			pointer-events: all;

		}
	}



}