Hud {
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: 1;


	.ammo {
		position: absolute;
		font-family: Geneva;
		font-size: 32px;
		color: rgb(255, 255, 255);
		right: 5%;
		bottom: 10%;
		z-index: 5;
		transition: opacity 1s ease-in-out;
		border-width: 1px;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.5);
		border-color: rgba(10, 0, 0, 0.5);
		padding: 10px;


		>.clip {
			color: rgb(0, 194, 26);

		}

		


	}


	.center {
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

								.crosshair1 {
									position: relative;
									opacity: 1;
									transition: transform 2.05s ease-in-out;
									width: 50px;
									/* Breite des Fadenkreuzes */
									height: 50px;
									/* Höhe des Fadenkreuzes */
									background-color: transparent;
									
								}
				
								.crosshair1 .bar {
									position: absolute;
									background-color: rgb(30, 255, 0);
								}
				
								.crosshair1 .bar.vertical {
									width: 2px;
									/* Dicke des vertikalen Balkens */
								}
				
								.crosshair1 .bar.horizontal {
									height: 2px;
									/* Dicke des horizontalen Balkens */
									width: 20px;
									/* Breite des horizontalen Balkens */
								}
				
								.crosshair1 .bar.top {
									height: 11px;
									/* Höhe des oberen Balkens */
									top: 6;
									left: 50%;
									transform: translateX(-50%);
								}
				
								.crosshair1 .bar.bottom {
									height: 11px;
									/* Höhe des unteren Balkens */
									bottom: 6;
									left: 50%;
									transform: translateX(-50%);
								}
				
								.crosshair1 .bar.left {
									height: 2px;
									/* Dicke des horizontalen Balkens */
									width: 11px;
									/* Breite des linken Balkens */
									top: 50%;
									left: 6;
									transform: translateY(-50%);
								}
				
								.crosshair1 .bar.right {
									height: 2px;
									/* Dicke des horizontalen Balkens */
									width: 11px;
									/* Breite des rechten Balkens */
									top: 50%;
									right: 6;
									transform: translateY(-50%);
								}

	&.hitmarker {
		.crosshair1 {
			background-color: red;
			transition: transform 5.05s ease-in-out;
			transform: scale(2);
		}
	}

	.crosshair {
		position: absolute;
		border-radius: 50%;
		background-color: white;
		opacity: 1;
		transition: transform 50.05s ease-in-out;
		width: 4px;
		height: 4px;
	}

	&.hitmarker {
		.crosshair {
			background-color: red;
			transition: transform 5.05s ease-in-out;
			transform: scale(2);
		}
	}

	.crosshair2 {
		position: absolute;
		border-radius: 50%;
		background-color: rgb(255, 0, 0);
		opacity: 1;
		transition: transform 50.05s ease-in-out;
		width: 4px;
		height: 4px;
		left: 41.8%;
		top: 46.1%;


	}

	&.hitmarker {
		.crosshair2 {
			background-color: red;
			transition: transform 5.05s ease-in-out;
			transform: scale(2);
		}
	}



	.expbar {
		position: absolute;
		left: 65%;
		bottom: 10%;
		transition: opacity 1s ease-in-out;

	}

	.expbar-show {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}

	.expbar-hide {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}


	.vyndalium {
		position: absolute;
		right: 5%;
		bottom: 90%;
		z-index: 1;
		width: 12%;
		height: 5%;
		transition: opacity 1s ease-in-out;
		border-width: 1px;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.5);
		border-color: rgba(10, 0, 0, 0.5);
		
		padding:5px;
		


		.vyndalium1 {

			position: relative;
			
			width: 100%;
			height: 100%;
			flex-direction: column;
		
			border-width: 1px;
				border-radius: 10px;
				background-color: rgba(253, 253, 253, 0);
				border-color: rgba(255, 255, 255, 0);
				justify-content: space-between;


			.p {
				position: relative;
				color: rgb(255, 209, 84);
				font-size: 30px;
				font-family: Geneval;
				gap: 15px;
				transition: opacity 5.5s ease-in-out;
				opacity: 1;
				
				justify-content: space-between;
				align-items: center;



				.icon1 {
					position: relative;
					background-image: url("/ui/hud/vynd.png");
					background-size: 100%;
					
					align-items: center;
					
					width: 32px;
					height: 32px;


				}

				#number {
					animation: changeNumber 0.5s ease-in-out;
					transition: opacity 0.5s ease-in-out;
					opacity: 1;

				}

				@keyframes changeNumber {
					from {
						transform: scale(1);
					}

					to {
						transform: scale(1.5);
					}
				}
			}

		}


	}

	.feed {
		position: absolute;
		left: 12%;
		bottom: 10%;
		width: 100%;
		height: 100%;

	}


	.healthbar {
		position: absolute;
		left: 2%;
		width: 29%;
		height: 15%;
		bottom: 15%;

		z-index: 0;


		opacity: 1;
		transition: opacity 0.5s ease-in-out;


		>.healthbar {
			width: 400px;
			height: 35px;
			bottom: 25px;
			left: 7%;
			//background-blend-mode: multiply;
			background-size: 100%;
			//background-position: center; 
			//background-image: url("/ui/hud/hpbar2.png");
			border-right: 1px solid rgb(199, 199, 199);
			
			border-right-width: -11px;
			border: 4px rgba(0, 0, 0, 0.61);

			border-top-right-radius: -50px -50px;
			border-top-width: 4px;
			border-top-color: rgba(255, 255, 255, 0.219);

			border-bottom-right-radius: 50px;
			border-bottom-width: 1px;
			padding: 5px;

			




			>.inner {
				
				flex-grow: 10;
				background-color:rgba(0, 0, 0, 0.884);
				
				border-right: 1px solid rgba(199, 199, 199, 0);
				border-bottom-right-radius: 50px;
				

				>.fill {
					
					
					height: 100%;
					border-right: 1px solid rgba(124, 124, 124, 0.089);
					border-right-width: -11px;
					border: 4px rgba(0, 0, 0, 0.589);

					border-top-right-radius: -50px -50px;
					border-top-width: 3px;
					border-top-color: rgba(255, 255, 255, 0.219);

					border-bottom-right-radius: 50px;
					border-bottom-width: 1px;

					transition: width 0.5s ease-out;






				}
			}

		}

		>p {
			position: absolute;
			
			left: 5%;
			top: 0%;
			color: rgb(0, 0, 0);
			font-size: 20px;
			border-radius: 10%;
			font-family: Geneva;
			font-weight: bold;
			transition: opacity 0.5s ease-in-out;
			opacity: 1;
			background-color: rgba(206, 206, 206, 0);
			padding: 0px 5px;
		}
	}



	.manabar {
		position: absolute;
		left: 12.5%;
		bottom: 7.5%;
		border-radius: 8px;
		opacity: 1;
		transition: opacity 2.05s ease-in;
		transform: translateX(-50%);
		margin: auto;
		display: flex; // Hinzugefügt
		flex-direction: row-reverse; // Hinzugefügt
		justify-content: flex-end; // Hinzugefügt
		background-blend-mode: multiply;



		>.manabar {
			width: 370px;
			height: 36px;
			bottom: 60px;
			left: 22px;
			background-color: rgba(0, 0, 0, 0);
			padding: 5px;
			border-radius: 8px;


			>.manainner {
				background-color: rgba(0, 0, 0, 0.219);

				flex-grow: 1;

				>.manafill {
					height: 100%;
					background-image: url("/ui/hud/manabar.png");
					background-blend-mode: darken;
					background-position-x: center;
					border-radius: 0px;
					border-right: 15px solid rgba(255, 255, 255, 0.795);
					border-right-width: -11px;

					border: 5px rgba(116, 116, 116, 0.356);

					border-top-right-radius: -50px -50px;
					border-top-width: 3px;
					border-top-color: rgba(255, 255, 255, 0.26);

					border-bottom-right-radius: 50px;
					border-bottom-width: 1px;

					transition: width 0.5s ease-out;


				}
			}

			>p {
				position: absolute;
				left: 6%;
				top: 7%;
				color: rgb(255, 255, 255);
				font-size: 22px;
				border-radius: 10%;
				font-family: Geneva;
				font-weight: 1500;
				transition: opacity 1.5s ease-in-out;
				opacity: 1;
				background-color: rgba(128, 128, 128, 0);
				padding: 0px 5px;
			}
		}
	}


	.staminabar {
		position: absolute;
		left: 49%;
		bottom: 17%;
		border-radius: 8%;
		transition: opacity 8000ms ease-out;
		transform: translateX(-50%);
		margin: auto;

		&hidden {
			display: none;


		}

		>.staminabar {
			width: 350px;
			height: 16px;
			margin: auto;
			background-color: black;
			padding: 3px;
			border-radius: 8px;
			justify-content: center;



			>.staminainner {
				background-color: black;
				border-radius: 8px;
				display: flex;
				justify-content: space-between;

				>.fill {
					height: 100%;
					background-image: url("/ui/hud/stamina.png");
					background-position: center;
					border-radius: 8px;

					flex-grow: 1;
					margin: 0 3px;

					.hidden {
						display: none;
					}
				}
			}
		}
	}
}