StartLobby {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url("ui/hud/background.png");
	background-size: 100%;
	pointer-events: all;
	background-position: center;
	pointer-events: all;
	font-family: Cambria;
	

	.left {
		margin-top: 64px;
		flex-direction: column;
		width: 900px;
		font-family: Cambria;
		

		> .title {
			font-size: 64px;
			font-weight: bold;
			color: darkcyan;
			
		}

		> .explanation {
			color: #8b7c24a6;
			font-size: 24px;
			flex-direction: column;
			width: 100%;
			border-radius: 13px;
			
			
		}

		> .button-list {
			margin-top: 64px;
			flex-direction: column;
			gap: 28px;

			> .button {
				background-color: transparent;
				color: #f7f7f7;
				font-size: 32px;
				padding: 15px;
				border-radius: 18px;
				cursor: pointer;
				width: 300px;
				flex-direction: column;
				transition: all 0.2s ease-out;
				

				&:hover {
					background-color: #570606;
					sound-in: 'hover';

					
				}

				&:active:not(.disabled) {
					sound-in: 'light_click';
				}
			}
		}	
	}
	

	.header {
		font-size: 64px;
		width: 100%;
		font-weight: bold;
		color: rgb(116, 224, 66);
		
	}

	.lobby-list {
		margin-top: 64px;
		width: 600px;
		flex-direction: column;
		
		

		> label {
			color: #aaaa;
			font-size: 24px;
			flex-direction: column;
			width: 100%;
		}

		> .button-list {
			flex-direction: column;
			margin-top: 64px;
			overflow: scroll;
			height: 63%;
			gap: 16px;

			> .button {
				background-color: transparent;
				color: #aaa;
				padding: 10px;
				border-radius: 8px;
				cursor: pointer;
				width: 100%;
				flex-direction: column;
				transition: all 0.2s ease-out;
				flex-shrink: 0;

				.title {
					font-weight: bold;
					font-size: 20px;
				}

				.meta {
					font-size: 16px;

					.map {
						flex-grow: 1;
					}

					.count {
						white-space: nowrap;
					}
				}

				&:hover {
					background-color: #333;
				}
			}
		}
	}

	.center {
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
	}
}
