@import "/ui/Hud/Style.scss";

InteractionHint {
    
    flex-direction: row;
    transform-origin: left top;
    opacity: 0;
    font-family: Geneva;
  
    

    .title {
        position: relative;
        background-color: rgba(0, 0, 0, 0.363);
        border-width: 1px;
        font-size: 32px;
        color: rgb(58, 233, 0);
        padding: 5px;
        padding-left: 22px;
        padding-right:10px;
        min-width: 250px;
        text-shadow: 2px 2px 0px rgb(52, 30, 30);
        
       
    }

    .content {
        position: relative;
        flex-direction: column;
        
        
    }

    .icon {
        position: relative;
        width: 30px;
        aspect-ratio: 1;
        margin-right: 20px;
        transform: translateX(-50%);
        
    }

    .interactions {
        position: relative;
        padding: 5px;
        top: 3px;
        background-color: rgba(0, 0, 0, 0.283);
        gap: 12px;
        flex-direction: column-reverse;
        border-width: 1px;
        
    }

    .interaction {
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        top: 1%;
        font-family: Geneva;
        margin-left: 10px;
        

        .circle {
            position: relative;
            margin-right: 2px;
            margin-left: 20px;
            width: 26px;
            aspect-ratio: 1;
            
           
        }

        .description {
            position: relative;
            text-shadow: $text-shadow-sm;
            margin-top: 5px;
            max-width: 325px;
            transition: all 0.2s;
            font-weight: bolder;
            letter-spacing: 2px;
            
        }

        .hint {
            position: relative;
            margin-right: 12px;
           
        }
    }

    &.visible {
        opacity: 1;
    }
}
