@import "/ui/Hud/Style.scss";

InteractionHint {
    flex-direction: row;
    transform-origin: left top;
    opacity: 0;
    font-family: sans-serif;

    .title {
        background-image: url(ui/hud/dialogue_name.png);
        
        background-repeat: no-repeat;
        
        background-image-tint: rgba(white, 0.9);
        
        font-size: 32px;
        color: rgb(105, 252, 8);
        padding: 5px;
        padding-left: 20px;
        min-width: 200px;
        text-shadow: 2px 2px 0px black;
    }

    .content {
        flex-direction: row;
    }

    .icon {
        width: 30px;
        aspect-ratio: 1;
        margin-right: 20px;
        transform: translateX(-50%);
    }

    .interactions {
        padding: 5px;
        background-image: url(ui/hud/dialogue_name.png);
        gap: 10px;
        flex-direction: row-reverse;
        border-radius: 20px;
    }

    .interaction {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-family: sans-serif;
        margin-left: 10px;

        .circle {
            
            margin-right: 2px;
            margin-left: 20px;
            width: 26px;
            aspect-ratio: 1;
        }

        .description {
            text-shadow: $text-shadow-sm;
            margin-top: 5px;
            max-width: 325px;
            transition: all 0.2s;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .hint {
            margin-right: 12px;
        }
    }

    &.visible {
        opacity: 1;
    }
}
