@import "/ui/Hud/Style.scss";

SideButton {
    height: 80px;
    padding: 20px 16px;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    pointer-events: all;
    z-index: 4;
    opacity: 0.85;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.2s ease;

    &.ltr {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
        flex-direction: row-reverse;
        text-align: left;
    }

    image {
        aspect-ratio: 1;
        flex-shrink: 0;
        height: 48px;
        background-size: 100%;
        margin-left: 8px;
        margin-right: 12px;
        transition: all 0.2s ease;
    }

    .text-container {
        flex-direction: column;
        flex-shrink: 0;

        .text-title {
            transition: font-size 0.14s ease;
            color: $color-text-secondary;
            font-family: 'Geneva', sans-serif;
            font-size: 28px;
            font-weight: 700;
        }

        .text-subtitle {
            transition: font-size 0.1s ease;
            font-size: 16px;
            color: $color-text-muted;
            font-family: 'Geneva', sans-serif;
            margin-top: 2px;
        }
    }

    &:active:not(.disabled) {
        sound-in: 'light_click';
        background-color: rgba(100, 200, 255, 0.1);
    }

    &:hover:not(.disabled) {
        cursor: pointer;
        opacity: 1;
        background-color: rgba(100, 200, 255, 0.05);
        sound-in: 'hover';

        .text-container {
            .text-title {
                font-size: 30px;
                line-height: 28px;
                color: $color-accent-blue;
            }

            .text-subtitle {
                font-size: 17px;
            }
        }

        image {
            height: 52px;
        }
    }

    &.disabled {
        opacity: 0.4;
    }
}
