@import "/ui/Hud/Style.scss";

CharacterMenu {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $fullscreen-bg;
    backdrop-filter: $fullscreen-blur;
    pointer-events: all;
    

    

    .section {
        border-color: rgb(78, 78, 78);
        border-width: 0.2%;
        z-index: 1;
        
    }
    .header2 {
        top: 5%;
        gap: 15px;
        position: absolute;
        flex-direction: column;
        height: 5%;
        width: 15%;
        z-index: 500;
        color: rgb(218, 218, 218);
        left: 48%;
        flex-direction: row;
        
        
        .head, .sidestats, .resist{
                position: relative;
                
                font-size: 16px;
                top: -40%;
                gap: 5px;
                padding: 10px;
                background: linear-gradient(to right, rgba(80, 7, 7, 0.8) 0%, rgba(65, 9, 9, 0.774) 50%, rgba(8, 0, 0, 0.767) 100%);
                border-radius: 5px;
                color: rgb(255, 254, 254);
                border-width: 1px;
                border-color: rgba(255, 255, 255, 0.2);
                font-family: geneva;
            :hover {
                    background-color: rgb(0, 255, 136);
                    padding: 0 1%;
                    border-radius: 5%;
            
            
            
            
            
            
                }
            
        }
    }

    

    .stats {
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 14%;
        z-index: 5;
        color: rgb(218, 218, 218);
        left: 48%;
        top: 15%;
        gap: 4%;
        margin-bottom: 5%;
        
        .head, .sidestats, .resist{
            position: relative;
            align-content: center;     
            justify-content: center;
            justify-content: space-between;
            font-family: geneva;
            font-size: 16px;
            color: rgb(9, 255, 0);
            
            
        }



        .stats2 {
                position: relative;
                justify-content: space-between;
                font-size: 16px;
                top: -10%;
                gap: 5px;
                padding: 10px;
                background: linear-gradient(to right, rgba(80, 7, 7, 0.8) 0%, rgba(65, 9, 9, 0.774) 50%, rgba(8, 0, 0, 0.767) 100%);
                border-radius: 5px;
                color: rgb(255, 254, 254);
                border-width: 1px;
                border-color: rgba(255, 255, 255, 0.2);
                font-family: geneva;
            
            

            

            .n {
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 1000;
            }

        }

        .tooltip-text {
            opacity: 0;
            position: absolute;
            z-index: 100;
            left: 100%;
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 12px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px 15px 10px 15px;



        }

        .header {
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-weight: 1000;
        }

        .stats2:hover .tooltip-text {
            opacity: 1;
            z-index: 100;
            flex-direction: column;

        }
    }

    .statsone {

        position: absolute;
            flex-direction: column;
            height: 100%;
            width: 14%;
            z-index: 5;
            color: rgb(218, 218, 218);
            left: 48%;
            top: 15%;
            gap: 4%;
            margin-bottom: 5%;

        .tooltip-text {
            opacity: 0;
            position: absolute;
            z-index: 100;
            left: 100%;
            width: 100%;
            color: white;
            font-size: 12px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px 15px 10px 15px;



            .header {
                font-size: 20px;
                color: rgb(0, 0, 0);
                font-weight: 1000;


            }


        }

        .stats4:hover .tooltip-text {
            opacity: 1;
            z-index: 100;
            color: rgb(0, 0, 0);
            flex-direction: column;

        }

        .stats4 {

                position: relative;
                justify-content: space-between;
                font-size: 16px;
                top: -10%;
                gap: 5px;
                padding: 10px;
                background: linear-gradient(to right, rgba(80, 7, 7, 0.8) 0%, rgba(65, 9, 9, 0.774) 50%, rgba(8, 0, 0, 0.767) 100%);
                border-radius: 5px;
                color: rgb(255, 254, 254);
                border-width: 1px;
                border-color: rgba(255, 255, 255, 0.2);
                font-family: geneva;






            .n {
                color: rgb(255, 255, 255);
                    font-size: 20px;
                    font-weight: 1000;


            }

        }

    }

    .statstwo {
        position: absolute;
            flex-direction: column;
            height: 100%;
            width: 14%;
            z-index: 5;
            color: rgb(218, 218, 218);
            left: 48%;
            top: 15%;
            gap: 4%;
            margin-bottom: 5%;


        .tooltip-text {
            opacity: 0;
            position: absolute;
            z-index: 100;
            left: 100%;
            width: 100%;
            color: white;
            font-size: 12px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px 15px 10px 15px;

            .header {
                font-size: 20px;
                color: rgb(0, 0, 0);
                font-weight: 1000;
            }
        }

        .stats3:hover .tooltip-text {
            opacity: 1;
            z-index: 100;
        }




        .stats3 {
            position: relative;
                justify-content: space-between;
                font-size: 16px;
                top: -10%;
                gap: 5px;
                padding: 10px;
                background: linear-gradient(to right, rgba(80, 7, 7, 0.8) 0%, rgba(65, 9, 9, 0.774) 50%, rgba(8, 0, 0, 0.767) 100%);
                border-radius: 5px;
                color: rgb(255, 254, 254);
                border-width: 1px;
                border-color: rgba(255, 255, 255, 0.2);
                font-family: geneva;


            .n {
                color: rgb(255, 255, 255);
                    font-size: 20px;
                    font-weight: 1000;
            }


        }

    }

    

    .character {
        position: absolute;
        right: 70%;
        bottom: 25%;
        width: 20%;
        height: 60%;
        z-index: 99;
        


        .box {
            
            


            .EquippedItems {
                position: relative;
                flex-direction: column;
                align-content: center;
                top: 0%;
                right: 10%;
                justify-content: center;
                justify-content: space-evenly;



            }

            .Access {
                position: relative;
                flex-direction: column;
                align-content: center;
                top: 0%;
                gap: 2%;
                left: 55%;
                width: 100%;
                justify-content: center;
                justify-content: space-evenly;
            }




        }


    }

        .section2 {
            position: relative;
                height: 37%;
                left: 37%;
                top: 12%;
    
            .items {
                
                background-color: rgba(245, 222, 179, 0);
                flex-direction: column;
              
    
                
    
                    
                    .playerst 
                    {
                    z-index: -50;
                    
                    gap: 10px; // Abstand zwischen den Elementen
                    font-family: Geneva;
                    flex-direction: column;
                    font-size: 15px;

                    .playe1, .playe4, .playe3, .playe2 {
                        z-index: -5;
                        flex-direction: column;
                        width: 100%;
                        gap: 5px;
                        padding: 10px;
                        background: linear-gradient(to right, rgba(80, 7, 7, 0.8) 0%, rgba(65, 9, 9, 0.774) 50%, rgba(8, 0, 0, 0.767) 100%);
                        border-radius: 5px;
                        color: rgb(255, 254, 254);
                        border-width: 1px;
                        border-color: rgba(255, 255, 255, 0.2);

                      

                        .nu {
                            font-size: 24px;
                            color: rgb(255, 187, 0);
                            font-weight: 1000;
                        }

                        .playic {
                            width: 20px;
                            
                             // Pfad zum Icon-Bild
                            background-size: cover;
                            margin-right: 5px;
                        }

                        .Vyndn {
                            font-size: 24px;
                            color: rgb(185, 192, 80);
                        }
                    }
                
    
                    
                }
            }
        }




}

@keyframes blink {
    0% {
        color: rgb(255, 255, 255);
    }

    50% {
        color: rgb(0, 255, 34);
    }

    100% {
        color: rgb(255, 255, 255);
    }
}