UI {
    position: absolute;
    width: 100%;
    height: 100%;

    .npc 
    {
        transition: opacity 0.5s ease-in-out;
        
        .npc-name {
        position: absolute;
        
        top:80px;
        left: 180px;
        color: white;
        font-size: 24px;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.5);
        border-width: 1px;
        padding: 5px;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        }
        .ability
        {
        position: absolute;
        width: 100%;
        height: 100%;
        
        .npc-ability 
        {
               
                position: relative;
                height: 15%;
                top: 0px;
                left: 145px;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 600;
                background-color: rgb(0, 4, 255);
                border-width: 1px;
                padding: 5px;
                opacity: 0;
                border-radius: 5px;
        
                &.show {
                    opacity: 1;
                }
            }
        }
        
    }

    

    .npc-level {
        position:absolute;
        height: 17%;
        width: 15%;
        left: 40%;
        top: 18%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.5);
        border-width: 1px;
        padding: 5px;
        border-radius: 5px;
    }
    

    .zombie-healthbar-container {
        position: relative;
        width: 100%;
        height: 15%;
        top:70%;
        left: 30%;
        border: 1px solid rgba(238, 238, 238, 0);
        z-index: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.show {
            opacity: 1;
        }

        .zombie-healthbar {
            position: relative;
            background-color: rgba(0, 0, 255, 0);
            width: 200px;
            height: 32px;
            bottom: 0px;
            left: 4%;
            background-blend-mode: multiply;
            background-size: 100%;
            padding: 5px;
            border-radius: 100px;

            .inner {
                flex-grow: 10;

                .fill {
                    background-color: rgb(255, 230, 0);
                    height: 100%;
                    border-right: 1px solid rgb(255, 255, 255);
                    border-right-width: -11px;
                    border: 4px rgba(0, 0, 0, 0.521);
                    border-top-right-radius: -20px -50px;
                    border-top-width: 3px;
                    border-top-color: rgba(255, 255, 255, 0.219);
                    border-bottom-right-radius: 50px;
                    border-bottom-width: 1px;
                    transition: width 1s ease-out;
                }
            }
        }

        .zombie-backbar {
            position: absolute;
            z-index: 0;
            background-color: rgba(0, 0, 255, 0);
            width: 200px;
            height: 32px;
            bottom: 0px;
            left: 4%;
            background-blend-mode: multiply;
            background-size: 100%;
            padding: 5px;
            border-radius: 100px;

            .inner {
                flex-grow: 10;

                .fill {
                    background-color: rgb(255, 0, 0);
                    height: 100%;
                    border-right: 1px solid rgb(255, 255, 255);
                    border-right-width: -11px;
                    border: 4px rgba(0, 0, 0, 0.521);
                    border-top-right-radius: -20px -50px;
                    border-top-width: 3px;
                    border-top-color: rgba(255, 255, 255, 0.219);
                    border-bottom-right-radius: 50px;
                    border-bottom-width: 1px;
                }
            }
        }

        >p {
            position: absolute;
            left: 25px;
            top: -100%;
            color: rgb(255, 255, 255);
            border-width: 1px;
            font-size: 22px;
            border-radius: 10%;
            font-family: Geneva;
            font-weight: 1500;
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.527);
            padding: 0px 5px;
        }
    }
}