@import "/ui/Hud/Style.scss";

Inventory {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $fullscreen-bg;
    backdrop-filter: $fullscreen-blur;
    pointer-events: all;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.945);
    transition: opacity 0.5s ease;

    &:intro {
            opacity: 0;
            transition: opacity 2s ease;
    }
    &:outro {
        opacity: 1;
        transition: opacity 2s ease;
    }

    

    .list {
        position: absolute;
        
        width: 100%;
        height: 100%;
        

        .food {
                position: absolute;
                width: 100%;
                height: 100%;
                 transition: opacity 0.5s ease;
        
                &:intro {
                    opacity: 0;
                }
            }
           
        .inventory 
        {
            
            position: relative;
            width: 100%;
            height: 100%;
            flex-direction: column;
            transition: opacity 0.5s ease;
            
            &:intro {
                opacity: 0;
            }
            
           

            
            
            

                .section2 {
        
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: scroll;
                position: absolute;
                
                width: 100%;
                height: 100%;
                background-color: rgba(131, 131, 131, 0);
               
                z-index: -100;

                .box {
                
                        gap: 10px;
                        position: absolute;
                        left: 3%;
                        top: 14%;
                        width: 2%;
                        
                        height: 20%;
                        z-index: 100;
                        flex-direction: column;
                      
                        align-items: center;
                
                        .sort {
                            
                            position: relative;
                            font-size: 20%;
                            

                            font-weight: bold;
                        
                            color: rgb(255, 255, 255);
                            width: 100%;
                            height: 100%;
                            background-color: rgb(0, 0, 0);
                            border-color: rgba(85, 85, 85, 0.918);
                            
                            border-width: 1px;
                            justify-content: center;
                            align-items: center;
                            background-size: 100%;
                        
                        
                            background-position: center;
                            border-radius: 5px;
                
                
                            background-position: center;
                            border-radius: 5px;

                            .tooltip {
                                    opacity: 0;
                                    transition: opacity 0.3s;
                                    background-color: rgb(121, 14, 14);
                                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                                    width: 100%;
                                    justify-content: center;
                                    text-shadow: 3px 1px 0px black;
                                    color: #fff;
                                    text-align: center;
                                    padding: 5px;
                                    border-radius: 5px;
                                    position: absolute;
                                    top: 0%;
                                    /* Position über dem Button */
                                    left: 0%;
                                    transform: translateX(-100%);
                                    white-space: nowrap;
                                    width: 150%;
                                    z-index: 1000;
                                    font-size: 15px;
                                    font-weight: bold;
                                    font-family: 'Geneva';
                                    border-width: 1px;
                                    border-color: rgb(0, 0, 0);
                            
                                }
                            
                                &:hover .tooltip {
                                    opacity: 1;
                                }
                
                            :hover:not(.disabled) {
                
                
                                cursor: pointer;
                                sound-in: 'hover';
                
                                border-radius: 5%;
                                transform: scale(1.1);
                            }
                
                            &:active:not(.disabled) {
                                sound-in: 'sound4';
                                background-color: rgb(250, 134, 39);
                                padding: 0 1%;
                                border-radius: 5%;
                                align-items: center;
                            }
                
                        }
                
                
                    }
        
                .box2 {
                    
                    gap: 10px;
                    position: absolute;
                    left: 5%;
                    top: 44.5%;
                    width: 90%;
                   
                    height: 3%;
                    z-index: 100;
                    
                    align-items: center;
                    
                    .sort {
                        
                        flex-direction: row;
                        position: relative;
                        font-size: 20%;
                       
                        font-weight: bold;
                        
                        color: rgb(255, 255, 255);
                        width: 5%;
                        height: 70%;
                        background-color: rgb(0, 0, 0);
                        border-width: 1px;
                        justify-content: center;
                        align-items: center;
                        background-size: 100%;
                        border-color: rgba(255, 255, 255, 0.034);
        
                        background-position: center;
                        border-radius: 5px;

                        .tooltip {
                                opacity: 0;
                                transition: opacity 0.3s;
                                background-color: rgb(121, 14, 14);
                                box-shadow: 2px 2px 2px rgba(160, 154, 154, 0.932);
                                width: 100%;
                                justify-content: center;
                                text-shadow: 3px 1px 0px black;
                                color: #fff;
                                text-align: center;
                                padding: 5px;
                                border-radius: 5px;
                                position: absolute;
                                top: -50px;
                                /* Position über dem Button */
                                left: 50%;
                                transform: translateX(-50%);
                                white-space: nowrap;
                                z-index: 1000;
                                font-size: 18px;
                                font-weight: bold;
                                font-family: 'Geneva';
                                border-width: 1px;
                                border-color: rgba(255, 0, 0, 0.685);
                                
                            }
                        
                            &:hover .tooltip {
                                opacity: 1;
                            }
        
                        :hover:not(.disabled) {
        
        
                            cursor: pointer;
                            sound-in: 'hover';
                            
                           
                            border-radius: 5%;
                            
                        }
        
                        &:active:not(.disabled) {
                            sound-in: 'sound4';
                            background-color: rgb(250, 134, 39);
                            transform: scale(1.1);
                            align-items: center;
                        }
        
                    }
                    
        
                }
        
                                
                                .Hello2 {
                                    position: absolute;
                                    width: 9%;
                                    height: 4%;
                                    top:3%;
                                    left: 5%;
                                    font-size: 26px;
                                    font-family: 'Geneva', sans-serif;
                                    color: white;
                                    z-index: 100;
                                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                                  
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-position: center;
                                    background-size: 100%;
                                    opacity: 1;
                                    text-align: center;
                                    text-shadow: 2px 2px 0px rgb(0, 0, 0);
                                    border-radius: 5px;
                                    border-width: 1px;
                                    border-color: rgba(255, 255, 255, 0.034);
                                    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(3, 110, 35, 0.432) 50%, rgb(23, 116, 0) 100%);
                                   
                                }
                                .Hello3 {
                                    position: absolute;
                                    width: 9%;
                                    height: 4%;
                                    top:3%;
                                    left: 15%;
                                    font-size: 26px;
                                    font-family: 'Geneva', sans-serif;
                                    color: white;
                                    z-index: 100;
                                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                                  
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-position: center;
                                    background-size: 100%;
                                    opacity: 1;
                                    text-align: center;
                                    text-shadow: 2px 2px 0px rgb(0, 0, 0);
                                    border-radius: 5px;
                                    border-width: 1px;
                                    border-color: rgba(255, 255, 255, 0.034);
                                    
                                }
        
                .items {
                    position: relative;
                    flex-wrap: wrap;
                    width: 700px;   
                    left: 5%;
                    top:150px;
                    gap: 4px;
                    height: auto;
                    box-shadow: 5px 5px 0px rgb(0, 0, 0);
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    border-width: 1px;
                    border-color: rgba(255, 255, 255, 0.034);
                    justify-content: center;
                    align-items: center;
                    
                }
              

        
        
            }



            .section 
            {
               
                position: absolute;
                    right: 24%;
                    bottom: 20%;
                    width: 25%;
                    height: 60%;
                    top: 10%;
                    z-index: -10;
                
              
              
               

                .character
                {
                   
                    justify-content: space-between;
                    
                   

                        .char
                        {
                            position: relative;
                               
                                z-index: -100;
                                width: 100%;
                                height: 100%;
                                    
                                
                                   
                                    
                            
                        }
                    
                    
                    .box
                    
                    {
                        
              
                   
            
                    .Equippeditems
                    {
                        
                        right: -100%;
                        top:15%;
                        z-index: 1000;
                        position: absolute;
                        flex-direction: column;
                        gap: 30px;
                        .helmet {
                                position: relative;
                                width: 150%;
                            }
                        
                            .armor {
                                position: relative;
                                width: 150%;
                                right: 20%;
                            }
                        
                            .pants {
                                position: relative;
                                width: 150%;
                            }
                    }
                    .Access
                    {
                        position: relative;
                        top: -50px;
                        gap: 20px;
                       
                        
                    }
                    .hands{
                        position: relative;
                        top: -126px;
                        right: -500px;
                    }
                    .back{
                        position: relative;
                        top: -330px;
                        right: -500px;
                    }
                    .backpack{
                        position: relative;
                        top: -530px;
                        right: -500px;
                    }

                    
                    


                }
                
                    
                }
                
            }

        }

    }

    
    
    
    
        



}

@keyframes blink {
    0% {
        color: white;
    }

    100% {
        color: red;
    }
}