@import "/ui/Hud/Style.scss";

InventorySlot {
    position: relative;
    width: 95px;
    height: 95px;
    justify-content: center;
    align-items: center;
    opacity: 1;
    

    .aspect-icon{
        position: absolute;
        bottom: 40%;
        left: 35%;
        width: 100%;
        height: 100%;
        transform: scale(0.35);
        opacity: 1;
        
    }



    .border {
        position: absolute;
        background-image: linear-gradient(#000000, #313131);
        height: 100%;
        width: 100%;
        mask-mode:alpha;
        mask-image: url('/ui/hud/slot_mask_thin.png');
        mask-size: 100%;
        
        
    }
                .border-tier-c {
                    border-color: #b3b3b3;
                    border-width: 6px;
                }
        
                .border-tier-b {
                    border-image: url('/ui/hud/green.gif') 0 0 0 0 stretch;
                
             
                    border-color: #4f9734; 
                    border-width: 1px;
                }
        
                .border-tier-a {
                   
                   
              
                   
                    border-color: #02f2ff; 

                    border-width: 6px;
                }
        
                .border-tier-s {
                    border-image: url('/ui/hud/red.gif');
                 
              
                   
                    border-color: #ff0000;
                    border-width: 6px;
                }
        
                .border-tier-ss {
                    border-image: url('/ui/hud/pink.gif');
                
                   
                    border-color: #ff02dd; 
                    border-width: 6px;
                }
        
                .border-tier-sss {
                    border-image: url('/ui/hud/gold0.gif');
                
                  
               
                    border-color: #ffd000;
                    border-width: 6px;
                }
        
                .border-tier-ultimate {
                    border-image:url('/ui/hud/ultimate1.gif');
                  
                 
               
                    border-color: #dfd7d7;
                    border-width: 6px;
                }



        .background-tier-c {
            background: radial-gradient(#525252, #000000);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            border-width: 6px;
            border-color: #757575; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-a {
            background: radial-gradient(#02f2ff, #3258d3);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            background-image: url(/ui/hud/blue.gif);
            border-width: 6px;
            border-color: #00f2ff; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-b {
            background: radial-gradient(#4f9734, #36d68e83);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            background-image: url(/ui/hud/green.gif);
            border-width: 6px;
            border-color: #4f9734; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-s {
            background: radial-gradient(#ff0000, #fa00008f);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            background-image: url(/ui/hud/red.gif);
            border-width: 6px;
            border-color: #ff0000; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-ss {
            background: radial-gradient(#00f7ff, #fb0bd3);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            background-image: url(/ui/hud/pink.gif);
            background-position: rotate(45deg);
            border-width: 6px;
            border-color: #ff02dd; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-sss {
            background: radial-gradient(#ffd000, #ffeb0a);
            height: 100%;
            width: 100%;
            z-index: -10;
            position: absolute;
            background-image: url(/ui/hud/gold0.gif);
            background-size: cover;
            background-position: center;
            border-width: 6px;
            border-color: #ffd000; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
        }
    
        .background-tier-ultimate {
            background: radial-gradient(#c77070, #ff0000);
            height: 100%;
            width: 100%;
            z-index: -2;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-image: url(/ui/hud/ultimate1.gif);
            border-width: 6px;
            border-color: #dfd7d7; // Gleiche Farbe wie die Hauptfarbe des Hintergrunds
            opacity: 1;
        }

    .item {
        height: 90%;
        width: 90%;
        transition: background-color 1.5s ease-in-out;
        z-index: 99;

        .select{
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 40%; 
            
            
          
          
            transition: background-color 0.23s ease-in-out;
            transition: border-color 0.23s ease-in-out;
            transition: border-width 0.23s ease-in-out;
            transition: transform 0.23s ease-in-out;
            transform: scale(1.1);
            z-index: 100;
        }
        
        .favorite-icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
            }
        .item-forground {
           
        }


        &.has-child-draggable {
            opacity: 0.3;
        }

        &:hover {
            cursor: pointer;
            sound-in: 'hover';
            background-color: rgba(255, 255, 255, 0.02);
           
            border-width: 1px;

        }

        .count {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 16px;
            font-weight: bold;
            font-family: Geneva;
            color:rgb(255, 255, 255);
            text-shadow: 1px 1px 0px black;
            font-style: italic;
            padding: 0px 5px;
            

            &.hidden {
                display: none;
            }
        }
    }

    .slot {
        position: absolute;
        opacity: 1;

        height: 64px;
        width: 64px;
        justify-content: center;
        align-items: center;
        
        
        

    }

    // Drop target stuff
    // Drop target transitions
    .border {
        transition: transform 1.06s ease;
        
    }

    transition: background-color 0.23s ease-in-out;

    // Behaviour for when the draggable could be dropped here
    &.can-drop {
        background-color: rgba(15, 15, 15, 0.308);
    }

    // Behaviour for when we are the drop target,
    &.is-drop-target {
        &.can-drop {

            // ... and the draggable can be dropped here
            .border {
                transform: scale(1.1);
            }

            transition: background-color 0.13s ease-in-out;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:not(.can-drop) {
            // ... and the draggable can't be dropped here
            background-color: rgba(255, 0, 0, 0.1);
        }
    }

}