SplitPanel{
    position: absolute;
    top: 15%;
    left:15%;
    width: 25%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-width: 1px;

    .top-top{
        position: relative;
        justify-content: space-between;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.651);

        .top-name{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 10%;
            background-color: rgba(0, 0, 0, 0.651);
            color: white;
            justify-content: center;
            align-items: center;
            
            text-align: center;
            font-size: 32px;
            
        }
        .count
        {
            position: relative;
            justify-content: center;
            font-size: 26px;
            position: relative;
            width: 100%;
            height: 10%;
            background-color: rgba(104, 63, 63, 0.651);               
        }
        .number{
            position: relative;
            top: 20%;
            left: 0;
            width: 100%;
            height: 10%;
            background-color: rgba(104, 63, 63, 0.651);
            color: rgb(156, 24, 24);
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 32px;
        }
        .button{
            position: relative;
            top: 30%;
            left: 0;
            width: 100%;
            height: 10%;
            background-color: rgba(104, 63, 63, 0.651);
            color: white;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 32px;
            z-index: 100;

            :hover{
                background-color: rgba(104, 63, 63, 0.651);
                color: rgb(156, 24, 24);
            }
        }
    }
    
    
}