ShopPanel {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: all;
    font-family: Geneva;
    .sidehud {
        position: absolute;
        right: 88%;
        top: 1%;
        height: 80%;
        width: 7%;
        z-index: 10;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.068);
        margin-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        margin-top: 10px;
        gap: 45px;


    }
        .exit-button {
    
    
    
            z-index: 100;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 32px;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-image: url(/ui/hud/exit.gif);
            background-position: center;
            background-size: cover;
    
            color: white;
            border-width: 5px;
            border-color: black;
            right: 20;
            top: 20;
            padding: 5px;
            cursor: pointer;
    
            :hover {
    
    
    
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
    
            }
        }
    .panel-content{
            position: absolute;
            width: 100%;
            height: 100%;
            font-family: Geneva;
            flex-direction: row;
            padding: 10px;
            .panel-content-text{
                position: relative;
                    width: 100%;
                
                    .panel-content-layout{
                        position: relative;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.568);
                            border-radius: 10px;
                            border-color: rgba(255, 255, 255, 0.404);
                            border-width: 4px;
                            padding: 15px;
                            color: white;
                            font-size: 23px;
                            margin-left: 5px;
                            margin-bottom: 5px;
                            overflow-x: scroll;
                            

                        .main-panel {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: #f0f0f000;
                                border-radius: 10px;
                                padding: 10px;
                                right: 5%;
                                
                        
                                .Panel {
                                    position: relative;
                                    justify-content: center;
                                 
                        
                                    background-color: #da2f2f00;
                        
                        
                                    width: 100%;
                                    height: 100%;
                        
                                    .section2 {
                                        top: 0%;
                                        left: 7%;
                                        padding:20px;
                                        gap: 10px;
                                        flex-direction: column;
                                        position: relative;
                                        width: 70%;
                                        height: 82.5%;
                                        background-color: rgba(39, 39, 39, 0.815);
                                        border-radius: 10px;
                                        border-width: 1px;
                                        border-color: #000000;
                                        .title-container{
                                            .title0 {
                                            position: relative;
                                            width: 100%;
                                            height: 100%;
                                            justify-content: center;
                                            align-items: center;
                                            background-color: #1996628c;
                                            border-width: 1px;
                                            border-color: #000000;
                                            border-width: 1px;
                                           
                                            color: #ffffff;
                                            font-size: 30px;
                                            font-weight: bold;
                                            font-style: italic;
                        
                        
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin-bottom: 10px;
                        
                                        }
                                        }
                                        .title {
                                            
                                            justify-content: center;
                                            align-items: center;
                                            background-color: #1996628c;
                                            border-width: 1px;
                                            border-color: #000000;
                                            color: #ffffff;
                                            font-size: 30px;
                                            font-weight: bold;
                                            font-style: italic;
                        
                        
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin-bottom: 10px;
                        
                                        }
                                        
                                        .title2 {
                                            position: relative;
                                            left: 24%;
                                            width: 12%;
                                            height: 5%;
                                            justify-content: center;
                                            align-items: center;
                                            background-color: #ffffff8c;
                                            border-width: 1px;
                                            border-color: #000000;
                                            color: #ffffff;
                                            font-size: 30px;
                                            font-weight: bold;
                                            font-style: italic;
                        
                        
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin-bottom: 10px;
                        
                                        }
                                        .items0 {
                                                    position: relative;
                                            
                                                    justify-content: center;
                                                    gap: 1px;
                                                    align-items: center;
                                                    padding: 5%;
                                                    flex-wrap: wrap;
                                                    width: 50%;
                                                    height: 100%;
                                                    overflow-x: scroll;
                                                    border-color: #000000;
                                                    background-color: #00000091;
                                                    border-width: 1px;
                                            
                                                }
                        
                                        
                                        .items-container{
                                            gap: 10px;
                                            
                                            
                                            .items2 {
                                                    position: relative;
                                            
                                                    justify-content: center;
                                                    gap: 1px;
                                                    align-items: center;
                                                    padding: 5%;
                                                    flex-wrap: wrap;
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow-x: scroll;
                                                    border-color: #000000;
                                                    background-color: #00000091;
                                                    border-width: 1px;
                                            
                                                }
                                        }
                                        
                                    }
                        
                                }
                    }
            }
    }
    

    

        



}
}