.ChestPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;


    .Panel {
        position: absolute;


        .Open {
            color: green;
        }

        .font {
            color: red;
        }
    }

    .baseinteractionhint {
        color: red;
    }

}