StorageBox
{
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: all;
    font-family: Geneva;
    
    
    .main-panel{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f0f0f000;
        border-radius: 10px;
        padding: 10px;

        .Panel{
            position: relative;
            justify-content: center;
            
            
            background-color: #da2f2f00;
           
           
            width: 100%;
            height: 100%;

            .section2{
                top:20%;
                left: 5%;
                justify-content: center;
                align-items: center;
               flex-direction: column;
               position: absolute;
                width: 70%;
                height: 60%;
                background-color: rgba(61, 60, 60, 0.966);
                border-radius: 10px;
                border-width: 1px;
                border-color: #000000;
                .title{
                   
                    justify-content: center;
                    align-items: center;
                    background-color: #1996628c;
                    border-width: 1px;
                    border-color: #000000;
                    color: #ffffff;
                    font-size: 30px;
                    font-weight: bold;
                    font-style: italic;
                    

                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    
                }
                .items2 
                    {
                        
                        padding: 4%;
                        flex-wrap: wrap;
                        width: 600px;
                       
                        border-color: #000000;
                        background-color: #00000091;
                        border-width: 1px;
                       
                    }
            }

        }
        .Panel2{
                position: relative;
                    justify-content: center;
                
                
                    background-color: #75464600;
                
                
                    width: 100%;
                    height: 100%;
                .chest-inventory
                {
                        top: 20%;
                        right: 5%;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        width: 70%;
                        height: 60%;
                        background-color: rgba(61, 60, 60, 0.993);
                        border-radius: 10px;
                        border-width: 1px;
                        border-color: #0000003b;
                    .title2{
                        justify-content: center;
                            align-items: center;
                            background-color: #194596b2;
                            border-width: 1px;
                            border-color: #000000;
                            color: #ffffff;
                            font-size: 30px;
                            font-weight: bold;
                            font-style: italic;
                        
                        
                            padding: 10px;
                            border-radius: 10px;
                            margin-bottom: 10px;
                    }
                    .exit-button 
                    
                    {

                    
                
                    z-index: 100;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    font-size: 32px;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-image: url(/ui/hud/exit.gif);
                    background-position: center;
                    background-size: cover;
                    
                    color: white;
                    border-width: 5px;
                    border-color: black;
                    right: 10;
                    top: 10;
                    padding: 5px;
                    cursor: pointer;
        
                    :hover {
                        
                      
                       
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;

                    }
                    
                }
            }
                .items2 
                    {
                        padding: 4%;
                        flex-wrap: wrap;
                        width: 600px;
                        
                        border-color: #000000;
                        background-color: #00000091;
                        border-width: 1px;
                    }
        }
       
    }
    

    
}